<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title> HELLO WORLD</title>
</h:head>
<h:body>

    <ui:param name="tariffs" value="#{tariffBean.getTariffList()}" />


    <p:dataGrid var="tariff" value="#{tariffs}" columns="1" layout="grid"
                rows="6" id="tariffsToUpdate">

        <p:panel header="Tariff name: #{tariff.name}" style="text-align:center; width:100%;">
            <h:panelGrid columns="1" style="width:100%" id="panelGrid">

                <h:outputText value="#{tariff.price}" />

                <hr></hr>

                <p:dataTable value="#{tariff.optionSet}" var="option" id="datatable">

                    <f:facet name="header" id="availOptHeader">
                        Available options:
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{option.name}"/>
                    </p:column>

                    <p:column headerText="Price">
                        <h:outputText value="#{option.price}"/>
                    </p:column>

                    <p:column headerText="Connection cost">
                        <h:outputText value="#{option.connectionCost}"/>
                    </p:column>

                </p:dataTable>

            </h:panelGrid>
        </p:panel>

    </p:dataGrid>


</h:body>
</html>