<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title> HELLO WORLD</title>
<!--    <h:outputStylesheet library="css" name="mainStyles.css"/>-->
</h:head>
<h:body>


<h:form>
    <h:inputText id="name" a:placeholder="NAME"/>
    <h:commandButton value="Submit" action="data"/>

</h:form>



</h:body>
</html>